@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #facccc; 
}

.complete {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

/* main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-and-gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.greeting-text {
  font-family: poppins;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #4b1717;
}

.dark-theme .greeting-text {
  color: #fff;
}

.animated-gif {
  max-width: 100%;
}

.start-quiz-button {
  background-color: #F8C0A3; 
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .text-and-gif-container {
    padding: 0 10px; 
  }

  .greeting-text {
    max-width: 100%; 
  }

  .animated-gif {
    max-width: 100%;
  }
}

/* footer */
.footer {
  background-color: #f8f8f8; 
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 30px; 
}

.footer-text {
  font-weight: bold;
  color: #f04949;
  margin-bottom: 5px;
}

.footer hr {
  border: 0;
  height: 1px;
  margin: 10px auto;
  width: 80%; 
}

.dark-theme .footer-text{
  color: #000000;
}

/* dark mode */
:root {
  --light-background-color: #ffffff;
  --dark-background-color: #1a1a1a;
  --light-text-color: #000000;
  --dark-text-color: #ffffff;
}

.front-page {
  background-color: var(--background-color);
  color: var(--text-color);
}

.light-theme {
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
}

.dark-theme {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
}
