/* QuizBox.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  
/* Style for the entire quiz box */
  .question-container {
        max-width: 600px;
        margin: 0 auto; 
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-top: 185px;
  }
  
  /* Style for the question text */
  .question-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  
  /* Style for the answer options */
  .answer-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    justify-content: center; 
  }
  
  /* Style for each answer button */
  .answer-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .answer-button:hover {
    background-color: #2980b9;
  }
  
  /* Style for the highlight button */
  .highlight-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .highlight-button:hover {
    background-color: #c0392b;
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.8);
  }

  .dark-theme {
    background-color: black;
  }

  .dark-theme .question-container{
    background-color: #333;
  }
  .dark-theme .question-number{
    color: white;
  }
  .dark-theme .question-text{
    color: white;
  }

  /* Responsive styles for phones */
  @media (max-width: 600px) {
    .quiz-box {
      max-width: 90%;
    }
  
    .answer-options {
      grid-template-columns: 1fr; 
    }
  }
  
  